* {
  margin: 0;
}

.nav {
  display: none;
}
svg {
  display: block;
  margin-left: 55%;
}
.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  width: 100%;
}

.logo {
  margin: 10px;
  font-size: 50px;
}
.contain {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container2 {
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: center;
}
.menu {
  display: flex;
  width: 95%;
}
.container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 20px;
}
.container4 {
  height: 100px;
  width: 100%;
}
